/* * {
  border: 1px solid red;
} */


/* MAIN */
:root {
  font-size: 4px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 3rem;
}

a:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.tx-lg {
  font-size: 5rem;
}

.padding {
  padding: 0 3rem; 
}

.shadow {
  -webkit-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.47);
-moz-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.47);
box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.47);
padding: 5px 10px;
margin: 30px 0;
}


/* HOME */

.faq-section p {
  font-size: 3.5rem;
}

.faq-section h3 {
  font-size: 5rem;
}

.faq-section li {
  margin: 1rem 0;
}

/* Page */

.info-page {
  font-size: 3rem;
}

.info-page p {
  font-size: 2rem;
}

.hero {
  color: white;
  position: relative;
}

.hero-content {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-content h1 {
  margin: 80px auto;
  text-align: center;
  font-size: 13rem;
}

.img-feature {
  width: 32%;
  display: inline-block;
  text-align: center;
}

.img-feature img {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 50rem;
  background-size: cover;
}

.main-blurb {
  padding: 40px;
  line-height: 4rem;
  margin-top: 10px;
}

.suggestions img {
  width: 15rem;
  height: 15rem;
}

.suggestions  {
  text-align: center;
  margin: 0 auto;
}

.suggestions > div {
  width: 80%;
  display: flex;
  gap: 3rem;
  margin: 20px auto;
  padding: 20px;
  align-items: center;
}

.suggestions {
  text-align: left;
}

.suggestions h2 {
  display: block;
}

.main {
  margin: 0 auto;
  width: 80%;
  font-size: 3rem;
  padding-bottom: 4rem;
}

.main ul {
  list-style-type:circle
}

.main p {
  font-size: 3rem;
}


/* Nav */

nav {
  background-color: snow;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  font-size: 3rem;
}

.nav-links a {
  border-right: 1px solid orangered;
  padding-right: 5px;
  font-weight:lighter
}

nav a:hover {
  color: orangered;
}

nav a:last-child {
  border-right: none;
}

/* Footer */

#footer {
  background-color: orangered;
  padding: 2px;
  color: snow;
}

#footer > ul > li {
  display: inline-block;
  text-align: left;
  width: 48%;
}

/* Media Queries */

@media (width >= 600px) {

  :root {
    font-size: 6px;
  }

  .padding {
    padding: 0 10rem;
  }
}

@media (width >= 1200px) {


  .padding {
    padding: 0 20rem;
  }
}